 @model List<UsuarioModel>
@{
    ViewData["Title"] = "Lista de usuários";
}

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Criar">Criar novo contato</a>
</div>
<br />

@if (TempData["MensagemSucesso"] != null)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>

    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            @TempData["MensagemSucesso"]
        </div>
    </div>

}

@if (TempData["MensagemErro"] != null)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>


    </svg>

    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            @TempData["MensagemErro"]
        </div>
    </div>

}




<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <table class="table table-striped" id="MyTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Login</th>
                <th scope="col">Perfil</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {

                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Login</td>
                        <td>@(usuario.Perfil == SistamaDeContatos.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>@usuario.DataCadastro</td>

                        <td>
                            <a class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuarios" asp-action="Editar">Editar</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@usuario.Id" asp-route-id="@usuario.Id">Apagar</button>
                        </td>

                    </tr>

                    <div class="modal fade" id="DeleteModal-@usuario.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModalLabel">Excluir Usuário</h5>
                                </div>
                                <div class="modal-body">
                                   Deseja excluir @usuario.Nome?
                                </div>   
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Voltar</button>
                                    <a class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuarios" asp-action="Apagar">Confirmar deleção</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>


</div>


